/* Reset de estilos padrão */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    align-items: center; 
    background-color: black;
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
}

.titulo {
    font-size: 24px;
    width: 105px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos do banner */
#banner {   
    color: #fff;
    padding: 10px;
    text-align: center;
}

.subtitulo {
    font-size: 36px;
}

.descricao {
    font-size: 18px;
    margin-top: 20px;
}

.botao {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.botao > hover {
    color: #ffd000;
}

/* Estilos da seção de cursos */
#cursos {
    padding: 40px;
    text-align: center;
}

.card-curso {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.card-curso img {
    max-width: 100%;
}

.card-curso h3 {
    font-size: 24px;
    margin-top: 10px;
}

.card-curso p {
    font-size: 16px;
    margin-top: 10px;
}

/* Estilos da seção de comunidade */
#comunidade {
    background-color: black;
    color: #fff;
    text-align: center;
}

.card-usuario {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

.card-usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-usuario h3 {
    font-size: 18px;
    margin-top: 10px;
}

.card-usuario p {
    font-size: 14px;
    margin-top: 5px;
}

.menu {
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    width: 100%;
    height: 6vh;
}

.bntmenu {
    width: 20%;
    height: 6vh;
    cursor: pointer;
    background-color: black;
    border: none;
    color: #ffff;
}

.bntmenu:hover {
    color: black;
    background-color: #ffd000;
    transition: 0.6s;
    transform: scale(1.1);
}

#perfil {
    width: 30%;
    height: 90vh;
    border: 1px solid black;
}

.logo{
    width: 10%;
    margin-left: 3%;
}